@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

.navbar-custom {
    background-color: rgba(0, 0, 0, 0.452);
}

.container {
    padding-top: 5rem;
}

.custom-toggler {
    border: none;
}

.custom-i {
    color: white;
}

h1 {
    text-align: center;
    padding: 3rem 0;
    font-weight: 700;
}

label {
    width: 70px;
    font-weight: 700;
}

h5 {
    font-weight: 700;
    color: black;
}

a {
    text-decoration: none;
}

.img-custom {
    max-width: 30%;
    min-width: 300px;
    margin-bottom: 10px;
}

.custom-id {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}

input {
    margin-right: 0.8rem;
}

input[disabled] {
    background: none;
    color: black;
}